body {
  font-family: "Smythe", system-ui;
  cursor: default;
}

.main-container {
  width: 600px;
  margin: 0 auto;
}

header {
  height: 167px;
  color: #ffffff;
  background-image: url(/images/bg\ img.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 46px;
  margin-bottom: 57px;
}

header h1 {
  margin: 0;
  font-size: 39px;
  font-weight: 400;
}

header h2 {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
}

/** menu item css **/

.menu-item {
  width: 508px;
  height: 140px;
  margin: 0 auto 45px auto;
  display: flex;
  gap: 31px;
  border-bottom: 1px solid #d2d2d2;
}
.menu-item-img {
  height: 89px;
}

.menu-item-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: black;
}

.menu-item-text h2 {
  font-size: 28px;
}

.menu-item-text p {
  color: #8b8b8b;
}

.menu-item-text h3 {
  font-size: 20px;
}

.add-btn {
  height: 50px;
  width: 50px;
  margin-left: auto;
}

.add-btn:hover {
  scale: 120%;
  cursor: pointer;
}

/** order popup css**/

#order-popup {
  min-height: 400px;
  width: 600px;
  background-color: #d2d2d2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 40px;
  display: none;
}

#your-order-header {
  text-align: center;
  padding-bottom: 62px;
}

#order-popup h2 {
  font-size: 28px;
}

.order-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 22px;
}

.remove-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #bbbbbb;
  font-size: 12px;
}

.remove-btn:hover {
  color: red;
  cursor: pointer;
}

.order-item-price {
  margin-left: auto;
}

#total-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
